<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="container text-center justify-content-center w-25">
        <div class="row">
            <div class="col">
                <p class="fw-bolder fs-5">Hotel Reservation</p>
            </div>
        </div>
        <div class="row">
            <div class="form-floating mb-3 col-sm">
                <a th:href="@{/reservation/hotels}" th:method="get" class="w-100">
                    <button class="btn btn-outline-secondary fw-bolder fs-5 w-100" type="submit">
                        Reserve
                    </button>
                </a>
            </div>
            <div class="form-floating mb-3 col-sm">
                <a th:href="@{/user}" th:method="get" class="w-100">
                    <button class="fw-bolder fs-5 btn btn-outline-secondary w-100" type="submit">
                        Mypage
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a th:href="@{/user/reservations}" th:method="get" class="w-100">
                    <button class="fw-bolder fs-5 btn btn-outline-secondary w-100" type="submit">
                        MyReservation
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>