<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
  <style>
    .div_pay{
      margin-left: 30px;
      margin-right: 30px;
    }
  </style>
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
  <div  class="container text-center justify-content-center w-50" >
    <div method="post"  th:action="@{/reservation/payment}" th:object="${reservationRequestDto}">
      <div class="row g-3" th:with="reservationRequestDto=${ReservationRequestDto}">
        <div class="col-sm">
          <span th:text="${reservationRequestDto.hotelName}" class="fw-bolder fs-5" >Hotel_A</span>
          &nbsp;&nbsp;&nbsp;
          <span th:text="${reservationRequestDto.roomType}" class="fw-bolder fs-5" >RoomType_A</span>
        </div>
        <div class="col-sm">
          <div>
            <div>
                <span class="fw-bolder fs-5">
                  Check-In : &nbsp;
                </span>
              <span class="fw-bolder fs-5" th:text="${reservationRequestDto.checkInDate}">2023-05-23</span>
            </div>
            <div>
              <span class="fw-bolder fs-5">
                Check-Out : &nbsp;
              </span>
              <span class="fw-bolder fs-5" th:text="${reservationRequestDto.checkOutDate}">2023-05-30</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div  class="div_pay" th:with="disoucntPriceDto=${DisoucntPriceDto}">
      <p class="div_pay fw-bolder fs-5">TotalPrice</p>
      <div th:text="${disoucntPriceDto.pay}" class="fw-bolder fs-5 div_pay rounded border border-secondary-subtle">
        100,000
      </div>
      <br>
      <p class="div_pay fw-bolder fs-5">Discount</p>
      <div class="div_pay  row g-2 rounded border border-secondary-subtle">
        <span class="col-sm fw-bolder fs-5" th:text="${discountPriceDto.discountPolicy}">
          PeakDiscount
        </span>
        <span class="col-sm fw-bolder fs-5"  th:text="${disoucntPriceDto.discount}">
          30,000
        </span>
      </div>
      <br>
      <p class="div_pay fw-bolder fs-5" >Pay</p>
      <div th:text="${disoucntPriceDto.totalPrice}" class="div_pay fw-bolder fs-5 rounded border border-secondary-subtle">
          70,000
      </div>
      <br>
    </div>
    <div class="button-container">
      <button type="submit" id="btn_modifyForm" class="btn btn-outline-secondary ">&nbsp;&nbsp;Pay&nbsp;&nbsp;</button>
    </div>
  </div>
</body>
</html>