<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
  <style>
    .div_pay{
      margin-left: 30px;
      margin-right: 30px;
    }
  </style>
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
  <div class="container text-center justify-content-center w-50" >
    <div th:object="${session.reservationRequestDto}">
      <div class="row g-3">
        <div class="col-sm">
          <span th:text="*{hotelName}" class="fw-bolder fs-5" >Hotel_A</span>
          &nbsp;&nbsp;&nbsp;
          <span th:text="*{roomType}" class="fw-bolder fs-5" >RoomType_A</span>
        </div>
        <div class="col-sm">
          <div>
            <div>
                <span class="fw-bolder fs-5">
                  Check-In : &nbsp;
                </span>
              <span class="fw-bolder fs-5" th:text="*{checkInDate}">2023-05-23</span>
            </div>
            <div>
              <span class="fw-bolder fs-5">
                Check-Out : &nbsp;
              </span>
              <span class="fw-bolder fs-5" th:text="*{checkOutDate}">2023-05-30</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="div_pay" th:object="${session.discountPriceDto}">
      <p class="div_pay fw-bolder fs-5">TotalPrice</p>
      <div th:text="*{totalPrice}" class="fw-bolder fs-5 div_pay rounded border border-secondary-subtle">
        100,000
      </div>
      <br>
      <p class="div_pay fw-bolder fs-5">Discount</p>
      <div class="div_pay  row g-2 rounded border border-secondary-subtle">
        <span class="col-sm fw-bolder fs-5" th:text="*{discountPolicy}">
          PeakDiscount
        </span>
        <span class="col-sm fw-bolder fs-5"  th:text="*{discountPrice}">
          30,000
        </span>
      </div>
      <br>
      <p class="div_pay fw-bolder fs-5" >Pay</p>
      <div th:text="*{pay}" class="div_pay fw-bolder fs-5 rounded border border-secondary-subtle">
          70,000
      </div>
      <br>
    </div>
    <div class="button-container">
      <a th:href="@{/reservation/payment}" class="btn btn-outline-secondary">&nbsp;&nbsp;Pay&nbsp;&nbsp;</a>
    </div>
  </div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>