<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="container text-center justify-content-center w-50">
        <div>
            <div class="row g-3">
            <span class="col-sm fw-bolder fs-5" th:field="${session.hotelName}">
                Hotel_A
            </span>
                <span class="col-sm"></span>
                <span class="col-sm fw-bolder fs-5">
                SelectDate
            </span>
            </div>
        </div>

        <br/>
        <br/>
        <form th:method="post" th:action="@{/reservation/date}" th:object="${dateDto}">
            <div class="row g-3">
                <input th:field="*{checkInDate}" class="col-sm rounded border border-secondary-subtle" type="date" id="check_in_date"
                       name="trip-start" value="2023-09-21"
                       th:min="${#calendars.createNow()}" required>
                <span class="col-sm"></span>
                <input th:field="*{checkOutDate}" class="col-sm rounded border border-secondary-subtle" type="date" id="check_out_date"
                       name="trip-start" value="2018-09-21"
                       th:min="${#calendars.createNow()}" required>
            </div>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>
            <div>
                <button type="submit" id="btn_modifyForm" class="btn btn-outline-secondary ">&nbsp;&nbsp;Next&nbsp;&nbsp;</button>
            </div>
        </form>
    </div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>