<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <p>selectHotel</p>
    <div class="d-flex justify-content-between w-100">
        <div class="w-25">

        </div>
<div class="w-50">
    <ul class="list-group border border-white rounded justify-content-center w-50" th:each="hotel : ${hotelListDto}">
        <ol class="align-self-center p-2">
            <a th:method="get" th:href="@{/reservation/hotel/{hotelName}(hotelName = ${hotel.hotelName})}" class=" list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <p th:text="${hotel.hotelName}" class="mb-0 fw-bolder fs-5"></p>
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <div class="fw-bolder fs-5"> RoomType </div>
                        <ul class="list-group list-group-horizontal" th:each="roomType : ${hotel.roomTypes}">
                            <li class="list-group-item" th:text="${roomType}"></li>
                        </ul>
                        <div class="d-flex">
                            <div>
                                <p class="mb-0 fw-bolder fs-5"> check-in </p>
                                <p th:text="${hotel.checkInTime}" class="mb-0 fw-bolder fs-5"></p>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div>
                                <p class="mb-0 fw-bolder fs-5"> check-out </p>
                                <p th:text="${hotel.checkOutTime}" class="mb-0 fw-bolder fs-5"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </ol>
    </ul>
</div>


        <div>

        </div>

    </div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>