<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="position-relative d-flex flex-column align-items-center justify-content-center">
        <div class="row g-2 w-50">
            <span class="col-sm fw-bolder fs-5 text-center" th:text="${hotelName}">Hotel</span>
            <span class="col-sm fw-bolder fs-5 text-center">ChangeDiscount Policy</span>
        </div>
        <br/>
        <br/>
        <div class="list-group w-25">
            <label class="rounded border border-secondary-subtle list-group-item d-flex gap-2 w-100 " for="listGroupRadios1">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1" value="" checked>
                <span class="fw-bolder fs-5 text-center">
                    &nbsp;&nbsp;&nbsp;PeakDiscountPolicy
                </span>
            </label>
            <br/>
            <label class="rounded border border-secondary-subtle list-group-item d-flex gap-2 w-100">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios2" value="">
                <span class="fw-bolder fs-5 text-center">
                    &nbsp;&nbsp;&nbsp;DaysDiscountPolicy
                </span>
            </label>
            <br/>
            <label class="rounded border border-secondary-subtle list-group-item d-flex gap-2 w-100">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios3" value="">
                <span class="fw-bolder fs-5 text-center">
                    &nbsp;&nbsp;&nbsp;AllDiscountPolicy
                </span>
            </label>
        </div>
        <button th:method="post" th:onclick="|location.href='@{/host/policy}'|" class="btn_size w-100 btn btn-outline-secondary fw-bolder fs-5">Change Discount Policy</button><
    </div>
</body>
</html>