<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<div class="container w-50">
    <div class="position-relative d-flex flex-column align-items-center justify-content-center">
        <div class ="col g-2 w-50 text-md-center">
            <span class="col-sm align-self-center fw-bolder fs-5" th:text="${hotelName}">Hotel</span>
            <br />
            <span class="col-sm align-self-center fw-bolder fs-5">Change Room Price</span>
            <br/>
        </div>
        <br/>
        <br/>
        <form th:action="@{/host/price}" th:object="${priceDto}" method="post">
            <div class = "row">
                <div class="form-floating mb-3 col-sm">
                    <input name="roomType" th:field="*{roomType}" type="text" class=" form-control w-100" id="floatingInput">
                    <label for="floatingInput">RoomType</label> </div>
                <div class="form-floating mb-3 col-sm">
                    <input name="discountPrice" th:field="*{discountPrice}" type="text" class="form-control w-100" id="floatingPrice">
                    <label for="floatingPrice">Price</label> </div>
            </div>
            <br />
            <div>
                <button type="submit" class="btn btn-outline-secondary form-control">Save</button>
            </div>
        </form>
        <hr class="separator"/>
    </div>
<div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>