<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="position-relative d-flex flex-column align-items-center justify-content-center">
        <p class="fw-bolder fs-5 text-center">Change Room Stock</p>
        <br/>
        <div class = "row">
            <div class="form-floating mb-3 col-sm">
                <input type="roomType" class=" form-control w-100" id="floatingInput">
                <label for="floatingInput">RoomType</label> </div>
            <div class="form-floating mb-3 col-sm">
                <input type="Stock" class="form-control w-100" id="floatingPassword">
                <label for="floatingPassword">Stock</label> </div>
        </div>
        <br/>
        <div>
            <button type="submit" class="btn btn-outline-secondary form-control">Save</button>
        </div>
    </div>


</body>
