<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<div style="display:none" id="sessionValue" th:text="${session.error}"></div>

<div class="container w-50">
    <div class="position-relative d-flex flex-column align-items-center justify-content-center">
        <div class ="col g-2 w-50 text-md-center">
            <span class="col-sm align-self-center fw-bolder fs-5" th:text="${hotelName}">Hotel</span>
            <br />
            <span class="col-sm align-self-center fw-bolder fs-5">Change Room Stock</span>
        </div>
        <br />
        <br />
        <form th:action="@{/host/stock}" th:object="${roomStockDto}" method="post">
            <div class = "row">
                <div class="form-floating mb-3 col-sm">
                    <input name="roomType" th:field="*{roomType}" type="text" class=" form-control w-100" id="floatingInput">
                    <label for="floatingInput">RoomType</label> </div>
                <div class="form-floating mb-3 col-sm">
                    <input name="roomStock" th:field="*{roomStock}" type="text" class="form-control w-100" id="floatingStock">
                    <label for="floatingStock">Stock</label> </div>
            </div>
            <br/>
            <div>
                <button type="submit" class="btn btn-outline-secondary form-control">Save</button>
            </div>
        </form>
    </div>
<div th:replace="~{fragments/footer :: footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function() {

            var sessionValue = document.getElementById('sessionValue').textContent;

            var isEmpty = function(value){
                if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ){
                    return true
                }else{
                    return false
                }
            };

            if(!isEmpty(sessionValue)){
                Swal.fire(
                    sessionValue,
                    '',
                    'error'
                )

            }

        });

    </script>
</div>
</body>
</html>