<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
  <div class="login_wrapper" style="margin: calc(50vh - 320px) auto 0px;">
    <form method="post" th:action="@{/join}">
      <div>
        <input type="text" name="email" class="form-control" placeholder="이메일" autocomplete="off" required/>
      </div>
      <div>
        <input type="password" name="password" class="form-control" placeholder="비밀번호" autocomplete="off" required/>
      </div>
      <div>
        <input type="text" name="name" class="form-control" placeholder="이름" autocomplete="off" required/>
      </div>
      <div>
        <input type="text" name="phoneNumber" class="form-control" placeholder="휴대폰 번호" autocomplete="off" required/>
      </div>
      <div style="margin: 0;">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="sex-1" name="sex" value="1" checked>
          <label class="custom-control-label" for="sex-1">user</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="sex-2" name="sex" value="2">
          <label class="custom-control-label" for="sex-2">host</label>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-dark btn-large form-control">Sign-Up</button>
      </div>
    </form>
    <hr class="separator"/>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
