<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header}">
<style>
  /*가운데 정렬*/
  .radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* 라디오 버튼 스타일 */
  .custom-control {
    margin-right: 100px; /* 각 라디오 버튼 간의 간격 설정 */
  }
</style>

</head>
<body>
  <div style="display:none" id="sessionValue" th:text="${session.error}"></div>
  <div class="container w-50">
  <div class="login_wrapper" style="margin: calc(50vh - 320px) auto 0px;">
    <form th:action th:object="${userSignUpDto}" method="post">
      <div class="form-floating mb-3">
        <input type="email" th:field="*{email}" class="form-control" placeholder="email" id="floatingInput">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" th:field="*{password}" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" th:field="*{name}" class="form-control" id="floatingName" placeholder="Name">
        <label for="floatingName">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" th:field="*{phoneNumber}" class="form-control" id="floatingPhoneNumber" placeholder="PhoneNumber">
        <label for="floatingPhoneNumber">PhoneNumber</label>
      </div>
      <div class="radio-container mb-3" style="margin: 0;">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class= "custom-control-input" th:field="*{role}" id="sex-1" name="sex" value="ROLE_USER">
          <label class="fw-bolder custom-control-label" for="sex-1">User</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" th:field="*{role}" id="sex-2" name="sex" value="ROLE_HOST">
          <label class="fw-bolder custom-control-label" for="sex-2">Host</label>
        </div>
      </div>
      <div>
        <button type="submit" class="align-self-center btn btn-outline-secondary btn-large form-control">Sign-Up</button>
      </div>
    </form>
    <hr class="separator"/>
  </div>

</div> <!-- /container -->
  <div th:replace="~{fragments/footer :: footer}"></div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function() {

      var sessionValue = document.getElementById('sessionValue').textContent;

      var isEmpty = function(value){
        if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ){
          return true
        }else{
          return false
        }
      };

      if(!isEmpty(sessionValue)){
        Swal.fire(
                sessionValue,
                '',
                'error'
        )
      }

    });

 </script>

</body>
</html>
