<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div style="display:none" id="sessionValue" th:text="${session.error}"></div>
<div class="container w-50">
    <div class="login_wrapper" style="margin: calc(50vh - 320px) auto 0px;">
        <hr class="separator"/>
        <form th:action th:object="${userSignInDto}" method="post">
            <div class="form-floating mb-3">
                <input type="email" th:field="*{email}" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" th:field="*{password}" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div>
                <a th:href="@{/user/new}" th:method="get" class="btn btn-link">Aren't you a member yet?</a>
            </div><br/><br/>
            <div>
                <button type="submit" class="btn btn-outline-secondary btn-large form-control" id="btn_joinForm">Sign-In</button>
            </div>
        </form>
    <hr class="separator"/>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    window.addEventListener('DOMContentLoaded', function() {

        var sessionValue = document.getElementById('sessionValue').textContent;

        var isEmpty = function(value){
            if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ){
                return true
            }else{
                return false
            }
        };

        if(!isEmpty(sessionValue)){
            Swal.fire(
                sessionValue,
                '',
                'error'
            )
        }

    });

</script>
</body>
</html>