<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <th:block th:action th:each="reservationResponseDto: ${dtoList}">
      <div class="list-group">
        <a th:href="@{#}" class="list-group-item list-group-item-action d-flex gap-3 py-3 d-flex flex-column" aria-current="true">
          <div>
            <span class="fw-bolder fs-5">
              Hotel Name :&nbsp;
            </span>
            <span th:text="${reservationResponseDto.hotelName}" class="fw-bolder fs-5">Hotel_A</span>
          </div>
          <div>
            <span class="fw-bolder fs-5">
              Check-In :&nbsp;
            </span>
              <span th:text="${reservationResponseDto.checkInDate}" class="fw-bolder fs-5">23-05-23</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="fw-bolder fs-5">
              Check-Out :&nbsp;
              </span>
              <span th:text="${reservationResponseDto.checkOutDate}" class="fw-bolder fs-5">23-05-30</span>
          </div>
        </a>
      </div>
    </th:block>
  </form>
</div>
</body>
</html>