<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}">
</head>
<style>
  .button-container{
    display: flex; /*버튼 나란하게 정렬*/
  }
</style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div style="display:none" id="sessionValue" th:text="${session.error}"></div>
    <div class="container w-50">
        <div class="login_wrapper" style="margin: calc(50vh - 320px) auto 0px;">
            <form th:action th:object="${userInfoDto}"  id="UserInfoForm" name="user" method="post"><br/><br/>
                <div>
<!--                    <input type="hidden" name="_method" value="put">-->
                    <input th:type="text" th:name="email" th:value="${userInfoDto.email}" class="form-control" placeholder="이메일" autocomplete="off" readonly/>
                    <br>
                    <input th:value="${userInfoDto.name}" type="text" name="name" class="form-control" placeholder="이름" autocomplete="off" required/>
                    <br>
                    <input th:value="${userInfoDto.phoneNumber}" type="text" name="phoneNumber" class="form-control" placeholder="휴대폰 번호" autocomplete="off" required/>
                </div><br>
                <div class="button-container w-70">
                        <button type="submit" class="btn btn-outline-secondary m-0 btn-large form-control w-70">
                            Modify
                        </button>
                </div>
            </form>
            <hr class="separator"/>
        </div>
        <a th:href="@{/user/withdraw}" th:method="get" class="w-70">
            <button type="submit" class="btn btn-outline-secondary m-0 btn-large form-control w-70">
                Withdraw
            </button>
        </a>
    </div> <!-- /container -->
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    window.addEventListener('DOMContentLoaded', function() {

        var sessionValue = document.getElementById('sessionValue').textContent;

        var isEmpty = function(value){
            if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ){
                return true
            }else{
                return false
            }
        };

        if(!isEmpty(sessionValue)){
            Swal.fire(
                sessionValue,
                '',
                'error'
            )
        }
    });
</script>
</body>
</html>
