<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}">
</head>
<style>
  .button-container{
    display: flex; /*버튼 나란하게 정렬*/
  }
</style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="container w-50">
        <div class="login_wrapper" style="margin: calc(50vh - 320px) auto 0px;">
            <form th:action="@{/user}" th:object="${userInfoDto}" id="UserInfoForm" name="user" method="post"><br/><br/>
                <div>
                    <input type="text" th:name="email" th:value="${userInfoDto.email}" class="form-control" placeholder="이메일" autocomplete="off" readonly/>
                    <br>
                    <input th:value="${userInfoDto.name}" type="text" name="name" class="form-control" placeholder="이름" autocomplete="off" required/>
                    <br>
                    <input th:value="${userInfoDto.phoneNumber}" type="text" name="phoneNumber" class="form-control" placeholder="휴대폰 번호" autocomplete="off" required/>
                </div><br>
                <div class="button-container">
                    <a th:href="@{/user}" th:method="put" class="w-70">
                        <button type="submit" class="btn btn-outline-secondary m-0 btn-large form-control w-70">
                            Modify
                        </button>
                    </a>
                </div>
            </form>
            <hr class="separator"/>
        </div>
        <a th:href="@{/user}" th:method="post" class="w-70">
            <button type="submit" class="btn btn-outline-secondary m-0 btn-large form-control w-70">
                Withdraw
            </button>
        </a>
    </div> <!-- /container -->
</body>
</html>
