<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/header :: header}">
</head>
<style>
  .button-container{
    display: flex; /*버튼 나란하게 정렬*/
  }
</style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<div style="display:none" id="sessionValue" th:text="${session.error}"></div>
<div class="container w-50">
  <div class="login_wrapper" style="margin: calc(50vh - 320px) auto;">
    <form method="post" th:action="@{/user/quit}">
      <br/>
      <br/>
      <div>
        <a>
          <div style="text-align: center;">
            정말 탈퇴를 원하시면<br>비밀번호를 입력하신 후 "YES"를 눌러주세요
          </div>
        </a>
        <br>
      </div>
      <div class="form-floating mb-3">
        <input type="password" th:name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label></div>
      <br>
      <div class="button-container">
        <button type="submit" class="btn btn-outline-secondary btn-large form-control" id="btn_modifyForm">Yes</button>
        <a th:href="@{/reservation/main}" class="btn btn-outline-secondary btn-large form-control" id="btn_withdrawForm">No</a>
      </div>
    </form>
    <hr class="separator"/>
  </div>
 <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  window.addEventListener('DOMContentLoaded', function() {

    var sessionValue = document.getElementById('sessionValue').textContent;

    var isEmpty = function(value){
      return value === "" || value == null || false || (typeof value == "object" && !Object.keys(value).length);
    };

    if(!isEmpty(sessionValue)){
      Swal.fire(
              sessionValue,
              '',
              'error'
      )
    }
  });
</script>
</body>
</html>
