<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div class="header d-flex justify-content-between mb-3" th:fragment="bodyHeader">
  <div class="nav nav-pills pull-right p-2 bd-highlight">
    <p><a href="/main" class="btn btn-outline-secondary">Home</a></p>
  </div>
  <div class="nav nav-pills pull-left p-2 bd-highlight">
    <p><a href="/user/out" class="btn btn-outline-secondary">Logout</a></p>
    <p><a href="/host/manage" class="btn btn-outline-secondary">Manage</a></p>
  </div>
</div>
</html>
